* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Define custom color variables using CSS custom properties */
:root{
    --primary-color: #4b595e;
    --primary-blue: #8ad0ce;
    --primay-lightBlue: #bdf7ff;
    --primary-orange: #ff6d6d;
    --primary-yellow:  #ffe963;  
    --primary-white: #fff;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
    -webkit-user-drag: none;  
    -khtml-user-drag: none;   
    -moz-user-drag: none;     
    -o-user-drag: none;      
  }

a {
    color: var(--primary-yellow);
    text-decoration: none;
}

body{
    background-color: var(--primary-color) ;
    color: white;
}


 /* Navigation section */
nav{
    background-color:var(--primary-blue);
}

.searchBar{
    width: 40%;
    margin: 0 auto;
    padding: 1.5em 0.5em;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

.weather_logo{
    height: 30px;
    width: 30px; 
}

#searchLocation{
    width: 15vw;
    padding: 0.6em;
    border-radius: 5px;
    outline: none;
    border: 0px solid var(--primary-blue);
}

#Search{
    color: var(--primary-color);
    padding: 5px;
    size: 1em;

}

.container{
    width: 40%;
    margin: 2em auto;
    padding: 2em 0;
    color: var(--primary-white);
}

  /* top section  */
.top__section{
    display: grid;
    border-radius: 8px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--primary-orange);
}

.top_section-names{
    padding: 2em 0 2em 4rem;
    display: flex;
    flex-direction: column;
}

.top-section-names_description{
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

#temperature{
    padding: 0.5rem 0 0 0 ;
    font-size: 3.2rem;
}

#weather_description{
    padding-top: .8rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.top__section-weatherSection{
    padding: 0 0 0 5rem;
}

#top__section-weatherIcon{
    padding: 0 2rem;
}

#top__section-weatherSection-temperature{
    display: flex;
    padding: 1rem 1rem 0 0;
    gap: 0.3rem;
    font-weight: 700;
}

/* lower Section */
.lower__section{
    margin-top: 1rem;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid var(--primary-white);
}

.lower__section-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem 2rem;
}

.lower__section-field #pressure, #humidity, #wind_speed {
    padding: 0.4rem 0 0 0.8rem;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.current__date{ 
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    font-weight: 650;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--primary-white);
    
}

/* history Section */
.view__history{
    display: flex;
    justify-content: flex-end;
}

.history{
    margin: 0.7rem 0.2rem;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.history:hover{
   background-color: var(--primary-blue);
   border: 1px solid var(--primary-color);
   color: black;
}


/* preloader Section */
#preloader{
    background: #000 url('https://media3.giphy.com/media/cnzP4cmBsiOrccg20V/200w.webp?cid=ecf05e47wuwy3rsoil75slvkyfbjgdxg6pp74o6arj9tgkrd&ep=v1_gifs_related&rid=200w.webp&ct=g') no-repeat center center;
    background-size: 18%;
    height: 100vh;
    animation: spin 2s linear infinite;
    width: 100%;
    position: fixed;
    z-index: 10;
}



/* error Message Section */
.errorMessage{
    display: none;
    width: 35%;
    z-index: 10;
    outline: none;
    padding: 5rem;
    font-size: 25px;
    border-radius: 8px;
    margin: 3rem auto;
    align-items: start;
    border: 1px solid rgb(159,13,35);
    background: rgb(159,13,35);
    background: linear-gradient(180deg, rgba(159,13,35,1) 38%, rgba(130,21,21,1) 83%);
    -webkit-box-shadow: 7px 7px 14px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 7px 7px 14px -1px rgba(0,0,0,0.31);
    box-shadow: 7px 7px 14px -1px rgba(0,0,0,0.31);
}

#error {
    display: none;
    background-color: red;
    z-index: 11;
    color: red;
}

/* footer Section */
#footer{
    width: 60%;
    margin: 0 auto;
    color: var(--primary-yellow);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set appropriate height */
    text-align: center;
    line-height: 30px;
}


  /* Media Queries  */
  /* Extra-large devices */
  @media (min-width: 992px) and (max-width: 1200px) {
    .searchBar {
      width: 60%;
    }
  
    .container {
      width: 60%;
    }
  
    .errorMessage {
      width: 60%;
    }
  
  }

  /* Large devices */
  @media (min-width: 768px) and (max-width: 992px) {
    .searchBar {
      width: 70%;
    }

    #searchLocation{
        width: 30vw;
    }
  
    .container {
      width: 70%;
    }
  
    .errorMessage {
      width: 70%;
    }
  }


  /* Medium devices  */
  @media (min-width: 576px) and (max-width: 768px) {
    .searchBar {
      width: 80%;
    }

    .container {
      width: 80%;
    }
  
    .errorMessage {
      width: 80%;
      
    }
  }
  

/* Small devices (up to 576px) */
@media (max-width: 576px) {
    .searchBar {
      width: 90%;
    }

    #searchLocation{
        width: 40vw;
    }

    .top__section-weatherSection{
        padding: 0 !important;
    }

    .top_section-names{
        padding: 2rem 2rem;
    }
  
    .container {
     padding: 0 !important;
      width: 90%;
    }
  
    .errorMessage {
      width: 90%;
      font-size: 20px !important;
    }

    #footer {
        position: relative !important;
        height: 15px !important;
      }
  
}
  
  
  
  
